{{ partial "header.html" . }}

{{ .Params.description }}

{{ if .Params.event_date }}

<script>
    CountDownTimer('{{ .Params.event_date }}', 'countdown');

    function CountDownTimer(dt, id)
    {
        var end = new Date(dt);

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;

        function showRemaining() {
            var now = new Date();
            var distance = end - now;
            if (distance < 0) {

                clearInterval(timer);
                document.getElementById(id).innerHTML = 'EXPIRED!';

                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

            document.getElementById(id).innerHTML = days + 'days ';
            document.getElementById(id).innerHTML += hours + 'hrs ';
            document.getElementById(id).innerHTML += minutes + 'mins ';
            document.getElementById(id).innerHTML += seconds + 'secs';
        }

        timer = setInterval(showRemaining, 1000);
    }

</script>
<h2>Time Until Event</h2><p><div id="countdown"></div></p>
{{ end }} 


<h2>Plotline Overview</h2>
{{ range (where .Pages "Layout" "plotline_overview") }}
      <p><a href="{{.Permalink}}"><b>{{ .Title }}</b></a> {{ .Params.description }} </p>
{{ end }}

<p><h2>Modules To Run</h2> 
The modules below are in the order that we intend to run them in. Many of them are in an unfinished state while we get our affairs in order.

<h3>Friday</h3>
{{ range sort (where (where .Pages "Layout" "IN" (slice "module" "module_review") ) "Params.day" "=="  "friday") "Params.weight"}}
      <p><a href="{{.Permalink}}"><b>{{ .Title }}</b></a> {{ .Params.description }} </p>
{{ end }}

<h3>Saturday</h3>
{{ range where (where .Pages "Layout" "IN" (slice "module" ) ) "Params.day" "=="  "saturday" }}
      <p><a href="{{.Permalink}}"><b>{{ .Title }}</b></a> {{ .Params.description }} </p>
{{ end }}

<h3>Reaction</h3>
{{ range where (where .Pages "Layout" "IN" (slice "module" ) ) "Params.day" "=="  "reaction" }}
      <p><b>{{ .Params.requirements }}</b> -- <a href="{{.Permalink}}"><b>{{ .Title }}</b></a> {{ .Params.description }} </p>
{{ end }}

<h3>Modules for Review</h3>
{{ range (where .Pages "Layout" "module_review") }}
{{ end }}

{{ range where (where .Pages "Layout" "IN" (slice "module" )) "Params.reviewer" "=" nil }}
      <p><a href="{{.Permalink}}"><b>{{ .Title }}</b></a>  Written by {{ .Params.author }} </p>
{{ end  }}

{{ if .Pages }} 
{{ .Content }} 

<h2>City Information</h2>
<h3>Townsfolk</h3>

<h2>Treasure</h2> 
<h3>Magic Items</h3> 
<h4>Quotas</h4> 
<p>{{ .Params.two_year_up_to_five_effect_magic_item_total | default ""}} /{{ .Params.two_year_up_to_five_effect_magic_item_limit | default ""}}  -- up to Two Year up to Five Effect Magic Items One per 25 Players</p>
<p>{{ .Params.one_year_up_to_five_effect_magic_item_total  | default ""}}/{{ .Params.one_year_up_to_five_effect_magic_item_limit | default ""}}   -- up to One Year up to Five Effect Magic Items------ One per 10 Players </p>  
<p>{{ .Params.one_year_two_time_ver_effect_magic_items_delimited_to_15th_level_or_below_total  |default ""}}/{{ .Params.one_year_two_time_ver_effect_magic_items_delimited_to_15th_level_or_below_limit | default ""}} -- up to One Year Two Time Ever Effect Magic Items Delimited to 15th level or below </p>
<h4>2 Year Item (x1)</h4>
<p>One per 10 Players </p>
<h4>Sword of Zealous Light</h4>
<p><b>Description:</b>  A sword from a fallen Hoylean Knight, ebbing with the pain of a thousand wars fought.  </p>
<p><b>Duration:</b> 1 Year </p>
<p><b>Module:</b>The Changed Ones</p>
<p><b>Effects:</b> </p>
<li>+3 Damage</li>
<li> Imprison x2</li>

<h4>1 Year Item (x4)</h4>
<h4>1 Year Two Times Ever Delimited to 15th Level of Below  (11)</h4> 



<h2>Makeup</h2> 


<h2>Costuming</h2>
<b>Deduplicate the list</b>

{{ range (.Pages.GroupBy "Section") }}
   {{ range .Pages }}


                        {{ range (.Pages.GroupBy "Section") }}
                           {{ range .Pages }}
                                       {{ range  .Params.costuming }}
                                            <li>{{ . }}</li>
                                    {{ end }}
                           {{ end }}
                        {{ end }}      
      
   {{ end }}
{{ end }}
{{ end }}

{{ if .Pages }} 
<h2>Props</h2> 

<b>Add props that are not on roles. Right now we only get the props on the role cards.</b>
<b>Deduplicate the list</b>

{{ range (.Pages.GroupBy "Section") }}
   {{ range .Pages }}


                        {{ range (.Pages.GroupBy "Section") }}
                           {{ range .Pages }}
                                       {{ range  .Params.props }}
                                            <li>{{ . }}</li>
                                    {{ end }}
                           {{ end }}
                        {{ end }}      
      
   {{ end }}
{{ end }}
{{ end }}


{{ partial "footer.html" . }}
