{{ partial "header.html" . }}

{{ .Params.description }}


<p><h2>Modules To Run</h2> 
The modules below are in the order that we intend to run them in. Many of them are in an unfinished state while we get our affairs in order.

<h3>Friday</h3>
{{ range sort (where (where .Pages "Layout" "IN" (slice "module" "module_review") ) "Params.day" "=="  "friday") "Params.weight"}}
      <p><a href="{{.Permalink}}"><b>{{ .Title }}</b></a> {{ .Params.description }} </p>
{{ end }}

<h3>Saturday</h3>
{{ range where (where .Pages "Layout" "IN" (slice "module" "module_review") ) "Params.day" "=="  "saturday" }}
      <p><a href="{{.Permalink}}"><b>{{ .Title }}</b></a> {{ .Params.description }} </p>
{{ end }}

<h3>Reaction</h3>
{{ range where (where .Pages "Layout" "IN" (slice "module" "module_review") ) "Params.day" "=="  "reaction" }}
      <p><b>{{ .Params.requirements }}</b> -- <a href="{{.Permalink}}"><b>{{ .Title }}</b></a> {{ .Params.description }} </p>
{{ end }}

<h3>Modules for Review</h3>
{{ range (where .Pages "Layout" "module_review") }}
      <p><a href="{{.Permalink}}"><b>{{ .Title }}</b></a>  Written by {{ .Params.author }} </p>
{{ end }}


{{ if .Pages }} 
{{ .Content }} 

<h2>City Information</h2>
<h3>Townsfolk</h3>

<h2>Magic Items</h2> 

<h2>Costuming</h2> 
{{ range (.Pages.GroupBy "Section") }}
   {{ range .Pages }}


                        {{ range (.Pages.GroupBy "Section") }}
                           {{ range .Pages }}
                                       {{ range  .Params.costuming }}
                                            <li>{{ . }}</li>
                                    {{ end }}
                           {{ end }}
                        {{ end }}      
      
   {{ end }}
{{ end }}
{{ end }}

{{ if .Pages }} 
<h2>Props</h2> 

<b>Add props that are not on roles. Right now we only get the props on the role cards.</b>

{{ range (.Pages.GroupBy "Section") }}
   {{ range .Pages }}


                        {{ range (.Pages.GroupBy "Section") }}
                           {{ range .Pages }}
                                       {{ range  .Params.props }}
                                            <li>{{ . }}</li>
                                    {{ end }}
                           {{ end }}
                        {{ end }}      
      
   {{ end }}
{{ end }}
{{ end }}


{{ partial "footer.html" . }}
