{{ partial "header.html" . }}
{{- $gamestart := .Params.event_date | time -}}

{{- $gameend := $gamestart.AddDate 0 0 2 -}}

<p><b>Event Date:</b> {{ $gamestart.Format "January 02, 2006" }}</p>
<p><b>PC Onsite:</b> {{ $gamestart.Format "Monday January 02, 2006" }} 5:00 pm</p>
<p><b>Game Start:</b> {{ $gamestart.Format "Monday January 02, 2006" }} 9:00 pm</p>
<p><b>Game End:</b> {{ $gameend.Format "Monday January 02, 2006" }} 2:00 am </p>
<p><b>PC Offsite:</b> {{ $gameend.Format "Monday January 02, 2006" }} 10:00 am</p>
<hr> 
<p><b>In Game Location:</b> {{ .Params.ig_location }}</p>
<p><b>Out of Game location:</b> {{ .Params.Title }}</p>
<p><b>Event Director:</b> {{ .Params.event_director  }}</p>
<p><b>Event Type:</b> {{ .Params.type }}</p>
<hr>
<p style="text-align:center"><a href="{{- .Params.facebook_link -}}"><i class="fab fa-facebook"></i></a>       <i class="fa fa-calendar"></i></p>
<i class="fab fa-paypal"></i>
{{ partial "footer.html" . }}

