{{ partial "header.html" . }}
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<!--Tooltip Scripts & Settings-->

<p><b>Written By:</b> {{ .Params.author }}</p>

<p><b>Reviewed By:</b> {{ .Params.reviewer }}</p>

<p title="This is a one or two sentence description of the module. Don't put any mystery in here be as simple and direct as possible."><b>Brief:</b> {{ .Params.description }}</p>
{{ if .Params.requirements }} 
<p title="The conditions that need met for the module to be ran. If the module needs run at night or must be ran after another module."><b>Requirements:</b></p>
    {{ range  .Params.requirements }}
    <li>{{ . }}</li>
    {{ end }}
{{ end }}
<p title="This is the meat and potatoes of the write-up. Be as verbose as you can and explain all the ins and outs of the adventure. Someone should be able to run the module with just the information here. The rest of the writeup will make it really shine but you will need to spell it out here. "><b>Synopsis:</b> {{ .Params.synopsis | markdownify }}</p>
{{ if .Params.outcomes }} 
<div title="The things you can see coming of the module. Think about stuff like how the players can lose and how the players might not follow what you have planned. This section is really important for when you have a bunch of modules that you string together or a pitched battle."><p><b>Outcomes:</b></p>
<ol >
    {{ range  .Params.outcomes }}
    <li>{{ . }}</li>
    {{ end }}
</ol></div>
{{ end }} 
<p title="Give a range. The fewer cast members that CAN run a module the better don't get too ambitious and write a module that requires 10-15 NPC's. Often you will have mooks that will be able to be added to a scene to flesh it out."><b>Number of Cast Members:</b> {{ .Params.number_of_cast_members | default "1" }}<p>

{{ if .Pages }} 
<p title="These are the different roles that the cast members will be playing for the encounter. Each role will be given the module sheet and the role card. Remember that the Hook needs a role card too."><b>Roles:</b> 
    {{ range where .Pages ".Params.Layout" "role" }}
            <a href="{{.Permalink}}">{{ .Params.quantity | default ""}} {{.Title}} </a>
    {{ end }}
</p>
{{ end }} 
{{ if  .Params.props }} 
<p title="These are the props that are needed for the module to run. Before the event we will check to make sure that we have all these things in the NPC Shack and if we don't have them we will either make them or change the module. "><b>Props:</b> {{ delimit  .Params.props ", " |  }}</p>
{{ end }} 
{{ if  .Params.treasure }} 
<div title="Any tags that are needed for the encounter, generally you will divvy the treasure for each of the different roles if this is not the case mark it down. Remember that the treasure for a module is often the MOST important thing for the players even though it can be easy to forget about."><p><b>Treasure:</b> {{ delimit  .Params.treasure ", " }}</p></div>
{{ end }} 
{{ if  .Params.rumors }}<p><b>Rumors:</b> {{ .Params.rumors }}</p>{{ end }} 
<p title= "This is how the players get on the module. All modules need a hook of some sort even if it's the players find an Adventure Card in the woods or the players tell the game master that they are going to the Forgotten City."><b>Hook:</b> {{ .Params.hook }}</p>
{{ if  .Params.scenes }} 
<p title="List out all of the scenes that will be used in the module. If there is a cave with 5 rooms write out 5 scenes. Detail any setup that is needed. Detail both the Out of Game setup that is needed as well as what the scene is in the game. Possibly give a description that the runner can read as box Text. Don’t detail the Tavern or The Town as a scene. It is assumed that part of the module will interact with the players that are away from the module area due "><b>Scenes:</b> {{ range .Params.scenes }}
      <ul><b>In Game:</b> {{ .ig}} 
      <b>Out of Game:</b> {{ .oog}} 
      <b>Flee Point:</b> {{ .flee_point}}</ul>
   {{ end }}
{{ end}}
{{ if .Params.non_standard_effects }}<p title="Anything that does not conform to the NERO rules will go here. These deviations will be detailed at the start of the module."><b>Non Standard Effects:</b> {{ .Params.non_standard_effects }}</p>{{ end }} 
{{ if .Params.rules_clarifications }}<p title=" What rules are heavily used on the encounter that would do with some clarification. "><b>Rules Clarifications:</b> {{ .Params.rules_clarifications }}</p> {{ end }} 
{{ if .Params.craftsman_information }}<p title="What information do you give to people that have craftsman skills. "><b>Craftsman Information:</b> {{ .Params.craftsman_information }}</p> {{ end }} 
{{ if .Params.transformations }}<p title="Do transforms go up? Which ones?"><b>Transformations:</b> {{ .Params.transformations }}</p> {{ end }}
{{ if .Params.running_notes }}<p title="This is the guidance that you would give a runner. Often the things you want to put there belong in the Synopsis or the Background. Try to reserve this for advice about how to make the encounter run smoothly." ><b>Running Notes:</b> {{ .Params.running_notes }}</p>{{ end }} 
{{ .Content }} 
